#titulo{
    width: 60%;
    height: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    text-align: center;
    color: red;
    letter-spacing: 5px;
    line-height: 20px;
    border: 2px solid black;
    margin-left: 20%;
    margin-top: 150px;
    padding-top: 20px;
}